body{

margin:0;

background:linear-gradient(135deg,#7b68ee,#4b2cb7);

font-family:Poppins,sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:90%;

max-width:700px;

}

.card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.25);

}

.card h1{

font-size:38px;

color:#222;

}

.card h2{

color:#28a745;

margin-top:20px;

}

.card p{

line-height:1.8;

color:#555;

margin-top:20px;

}

button{

margin-top:30px;

padding:15px 30px;

background:#6C63FF;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#574bff;

}